<h1>Activities</h1>

<div class="clearfix">
    <p class="lead text-muted float-left mb-0">Last <?= $meta['last'] ?: '' ?> activities</p>
    <a class="btn btn-sm btn-primary float-right<?= $meta['last'] == '' ? ' disabled' : '' ?>" href="?last">All</a>
    <a class="btn btn-sm btn-primary float-right mr-2<?= $meta['last'] == 10 ? ' disabled' : '' ?>" href="?last=10">Last 10</a>
    <a class="btn btn-sm btn-outline-secondary float-right mr-2" href="<?= $this->uri ?>/<?= $this->lastToken() ?>?panel=profiler">Last profiling</a>
    <a class="btn btn-sm btn-outline-secondary float-right mr-2" href="<?= $this->uri ?>/<?= $this->lastToken() ?>">Last activity</a>
</div>

<div class="page-content">
    <table id="table-activities" class="table table-hover table-data">
        <thead class="thead-dark">
        <tr>
            <th>Status</th>
            <th>Verb</th>
            <th>Uri</th>
            <th>Events</th>
            <th>Date</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($activities as $token => $activity): ?>
            <?php
            $requestUri = isset($activity->request) ? $activity->request->uri : '';
            $uriBase = $this->uri . "/$token";
            ?>
            <tr data-request-details-uri="<?= $uriBase ?>">
                <td><?php $status = isset($activity->response->status) ? $activity->response->status ?? '-' : '-' ?>
                    <span class="badge badge-light" data-response-status="<?= $status ?>">
                        <?= $status ?>
                    </span>
                </td>
                <td>
                    <span class="badge badge-light">
                        <?= isset($activity->request) ? $activity->request->method ?? '-' : '-' ?>
                    </span>
                </td>
                <td class="text-monospace<?= strlen($requestUri) > 20 ? ' text-small' : '' ?>"><?= $requestUri ?></td>
                <td>
                    <a class="text-dark" href="<?= $uriBase ?>?panel=events">
                        <?= !empty($activity->events) ? count($activity->events) : 0 ?>
                    </a>
                </td>
                <td class="text-muted text-small">
                    <a class="text-muted" href="<?= $uriBase ?>"><?= $this->date($token) ?></a>
                </td>
                <td style="min-width: 80px">
                    <a class="btn-sm btn-outline-primary" href="<?= $uriBase ?>"><i data-feather="info"></i></a>
                    <a class="btn-sm btn-outline-secondary" href="<?= $uriBase ?>?panel=request"><i data-feather="shuffle"></i></a>
                    <a class="btn-sm btn-outline-secondary" href="<?= $uriBase ?>?panel=profiler"><i data-feather="git-commit"></i></a>
                    <a class="btn-sm btn-outline-secondary" href="<?= $uriBase ?>?panel=request"><i data-feather="radio"></i></a>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>
