<h1>Events</h1>
<p class="lead text-muted pb-1">Last events</p>

<div class="page-content">
    <table id="table-events" class="table table-hover table-data">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
    <?php foreach($events ?? [] as $i => $event): ?>
            <tr>
                <td>
                    <a class="text-dark text-monospace" href="?panel=event&n=<?= $i ?>">
                        <small><?= $event->name ?? '' ?></small>
                    </a>
                    <?php if ($event->core): ?><small class="badge badge-warning">core</small><?php endif; ?>
                </td>
                <td class="text-muted text-small"><?= $this->date($event->timestamp) ?></td>
                <td>
                    <a class="btn-sm btn-outline-primary" href="?panel=event&n=<?= $i ?>">Event</a>
                    <a class="btn-sm btn-outline-secondary" href="?panel=timeline">Timeline</a>
                </td>
            </tr>
    <?php endforeach; ?>
        </tbody>
    </table>
</div>
